* {
    box-sizing: border-box;
  }

  :root {
    --primary-color: hotpink;
    --secondary-color: turquoise;
    --secondary-color-dark: darkturquoise;

    --light: mistyrose;
    --shadow: midnightblue;

    --sky: linear-gradient(palevioletred, indianred, maroon);
    --sand: linear-gradient(sandybrown, lightcoral, salmon);

    --tin: repeating-linear-gradient(to right, var(--secondary-color) 5%, var(--secondary-color-dark) 15%);
    --metal: repeating-linear-gradient(45deg, darkturquoise 10%, turquoise 12%);
    --wooden-panels: repeating-linear-gradient(lightcoral 0%, indianred 10%);

    --large: 300px;
    --medium: 200px;

  }


  body {
    padding: 0;
    margin: 0;
  }

 #canvas {
  width: 100%;
  height: 100vh;
  background-color: midnightblue;
  padding: 10%;
 }

  /* House Shapes */

 .circle {
  border-radius: 50%;
 } 

 .triangle,
 .base {
  position: relative;
 }

 .triangle {
  width: var(--large);
  border-left: calc(var(--large) / 2) solid transparent;
  border-right: calc(var(--large) / 2) solid transparent;
  border-bottom: var(--large) solid indianred;
  top: 225px;
  z-index: 2;
 }

 .base {
    background: var(--wooden-panels);
    height: 225px;
    width: 80%;
    min-width: 500px;
    left: 150px;
  }

  .window {
    position: absolute;
    top: 50px;
    left: -100px;
    z-index: 3;

    border-left: calc(var(--medium) / 2) solid transparent;
    border-right: calc(var(--medium) / 2)  solid transparent;
    border-bottom: var(--medium) solid burlywood;
  }

  /* Properties */

  .rounded {
    border-radius: 1% 1% 50% 50%;
  }