* {
    box-sizing: border-box;
  }

  :root {
    --primary-color: hotpink;
    --secondary-color: turquoise;
    --secondary-color-dark: darkturquoise;

    --light: mistyrose;
    --shadow: midnightblue;

    --sky: linear-gradient(palevioletred, indianred, maroon);
    --sand: linear-gradient(sandybrown, lightcoral, salmon);

    --tin: repeating-linear-gradient(to right, var(--secondary-color) 5%, var(--secondary-color-dark) 15%);
    --metal: repeating-linear-gradient(45deg, darkturquoise 10%, turquoise 12%);

    --standard: 400px;
    --half: calc(var(--standard) / 2);
    --third: calc(var(--standard) / 3);
    --quarter: calc(var(--standard) / 4);
  }
  
  
body {
  margin: 0;
  height: 100vh;
  padding: 10%;
}

body div {
  margin: 0 auto;
}

.a-frame {

  width: var(--standard);
  height: var(--standard);
  border-right: var(--half) solid transparent;
  border-left: var(--half) solid transparent;
  border-bottom: var(--standard) solid var(--primary-color);
}

.window-1 {
   border-left: var(--quarter) solid transparent;
   border-right: var(--quarter) solid transparent;
   border-bottom: var(--half) solid var(--light);

   position: relative;
   top: var(--third);
   right: var(--quarter);

   
}