body {
  background: repeating-radial-gradient(
    circle at 100%,
    skyblue,
    deepskyblue 10px,
    cornflowerblue 15px,
    snow 15px,
    snow 25px
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: snow;
  padding: 20px;
  width: 80%;
}

h1, 
h2 {
  text-align: center;
}

@media (min-width: 680px) {
  main {
    width: 40%;
  }
}